.for-men {
    background-image: url(https://i.ibb.co/262px7X/offer-for-men.jpg);
}

.for-women {
    background-image: url(https://i.ibb.co/DgrNBn3/offer-for-women.jpg);
}

a {
    color: darkslategrey;
}